<!-- views/home.ejs -->
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/global.css">
    <script src="/global.js" defer></script>
    <title>Home Page</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="d-flex justify-content-center align-items-center pt-2">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #05516083; box-shadow: 8px 8px 8px 8px rgba(75, 139, 168, 0.2); width: 80%;">
            <div class="container">
                <a id="home" class="navbar-brand" href="#home"><strong>Anx<span class="colored-span">.</span></strong><i>Dev</i></a>
    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#home"><u>Início</u></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" data-bs-toggle="tooltip" title="Em desenvolvimento" href="#">Serviços</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" data-bs-toggle="tooltip" title="Em desenvolvimento" href="#">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
     <!-- Navbar -->
    
    <div class="alert alert-dark alert-dismissible fade show" role="alert">
        <center>
            <img src="https://cdn-icons-png.flaticon.com/512/733/733558.png?w=740&t=st=1691909466~exp=1691910066~hmac=2d5556f85dbf91162e9ae8026e760102f7453571ad34699b85254daaa61ae3cb" alt="" style="width: 2%; height: 2%;">
            <a href="https://instagram.com/invites/contact/?i=73rbeuky68no&utm_content=bn4e9ym" class="alert-link link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-50-hover">@AnaximenesDev</a>
            <br><strong>Desenvolvido por AnxDev ©</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </center>
    </div> <!-- alert + link  -->


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <div class="jumbotron">
                    <h3 class="title" id="hello"><%= hello %></h3>
                    <h1 class="display-4">Raphael Anaximenes</h1>
                    <p class="lead">Desenvolvedor / Analista de sistemas</p>
                    <p><i><%= sub %></i></p>
                    
                    <div>
                        <p class="d-inline-flex gap-1">
                            <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStudying" aria-expanded="false" aria-controls="collapseStudying">
                                Estudando
                            </button>
                    
                            <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUsedTo" aria-expanded="false" aria-controls="collapseUsedTo">
                                Habituado
                            </button>
                        </p>
                        <div class="collapse" id="collapseStudying">
                            <div class="card card-body">
                                <div>
                                    <h2 class="mt-2 h3">Aprendendo:</h2>
                                    <ul class="list-inline">
                                        <li class="list-inline-item mx-4"><img src="https://d33wubrfki0l68.cloudfront.net/e937e774cbbe23635999615ad5d7732decad182a/26072/logo-small.ede75a6b.svg" alt="Nest.js" class="img-fluid" style="max-width: 50px;"></li>
                                        <li class="list-inline-item mx-4"><img src="https://cdn.iconscout.com/icon/free/png-512/free-typescript-1-1175078.png?f=avif&w=256" alt="TypeScript" class="img-fluid" style="max-width: 50px;"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="collapseUsedTo">
                            <div class="card card-body">
                                <div>
                                    <h2 class="mt-2 h3">Habituado com:</h2>
                                    <ul class="list-inline">
                                        <li class="list-inline-item mx-4"><img src="https://cdn.iconscout.com/icon/free/png-512/free-nodejs-226032.png?f=avif&w=256" alt="Node.js" class="img-fluid" style="max-width: 60px;"></li>
                                        <li class="list-inline-item mx-4"><img src="https://cdn.iconscout.com/icon/free/png-512/free-mongodb-5-1175140.png?f=avif&w=256" alt="MongoDB" class="img-fluid" style="max-width: 50px;"></li>
                                        <li class="list-inline-item mx-4"><img src="https://prismalens.vercel.app/header/logo-dark.svg" alt="MongoDB" class="img-fluid" style="max-width: 100px;"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-10">
                    <div class="bg-body-primary p-3">
                        <div class="d-flex align-items-center">
                            <img src="/myself.jpg" alt="Profile Image" class="card-image">
                            <div class="ms-4">
                                <a href="https://www.linkedin.com/" target="_blank" class="icon-link">
                                    <img src="https://cdn.iconscout.com/icon/free/png-512/free-linkedin-47-189764.png?f=avif&w=256" alt="LinkedIn" class="img-fluid border" style="max-width: 80px;">
                                </a>
                                <a href="https://github.com/" target="_blank" class="icon-link">
                                    <img src="https://cdn.iconscout.com/icon/free/png-512/free-github-online-project-hosting-square-46234.png?f=avif&w=256" alt="GitHub" class="img-fluid border" style="max-width: 80px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row row-cols-auto">
                        <div class="col">
                            <h6><i>#opento<strong>DEV</strong>work</i> <span class="badge bg-danger">New</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Jumbotron -->

        <hr style="width: 50%; height: 5px;"> <!-- hr separator -->

        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <center><h2 class="display-4 text-info-emphasis"> <b> Porque eu deveria estar no seu time? </b> </h2>
                <h4>Conheça um pouco da minha trajetória, habilidades e experiências.</h4>
            </center>
            <p class="lead"> 

<br><br>
            <p class="lead">Estou preparado para enfrentar desafios e contribuir para projetos inovadores, utilizando minha combinação única de conhecimento técnico, vontade e experiência na área educacional:</p>
               
            <div class="accordion accordion-flush" id="myAccordion">

                <div class="accordion" id="myAccordion">
                    <!-- Bloco 1 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <h1 class="display-6">Experiência no Ensino e Graduação</h1>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#myAccordion">
                            <div class="accordion-body">
                                Minha trajetória na tecnologia, marcada por experiências variadas, enriquece minha perspectiva no campo do desenvolvimento.
                                Com passagem como professor de informática em escola particular e VIP, compartilhei conhecimentos essenciais de <strong>TI, Office e Marketing Digital</strong>. Minha formação em Análise e Desenvolvimento de Sistemas (ADS) solidificou meu entendimento das bases tecnológicas.
                            </div>
                        </div>
                    </div>
                    
                    <!-- Bloco 2 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h1 class="display-6">Objetivo de Pós-Graduação em Desenvolvimento Fullstack</h1>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#myAccordion">
                            <div class="accordion-body">
                                Atualmente, busco aprimorar ainda mais minhas habilidades e expandir meus horizontes. <strong>Tenho como objetivo realizar uma pós-graduação em desenvolvimento fullstack</strong>, impulsionando meu conhecimento em tecnologias de ponta e estratégias abrangentes.
                            </div>
                        </div>
                    </div>
                    
                    <!-- Bloco 3 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h1 class="display-6">Habilidades e Interesses</h1>
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#myAccordion">
                            <div class="accordion-body">
                                Minhas habilidades abrangem programação <strong>front-end autodidata</strong>, com um entendimento positivo em <strong>criação e uso de APIs</strong>. Tenho conhecimento prático em tecnologias de back-end, especialmente no ecossistema <strong>Node.js e Java</strong>, incluindo o uso do Spring Boot. Além disso, trago experiência no uso de bancos <strong>SQL e NoSQL</strong>.
                            </div>
                        </div>
                    </div>
                    
                    <!-- Bloco 4 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <h1 class="display-6">Foco na Aprendizagem Contínua</h1>
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#myAccordion">
                            <div class="accordion-body">

                                Minha dedicação à aprendizagem contínua e minha abordagem prática são as bases da minha jornada. Estou animado para aplicar minha paixão e conhecimento em novos desafios e oportunidades no desenvolvimento de software.
                            </div>
                        </div>
                    </div>
                </div>
             </p>
        </div> <!-- centered-card -->
        
    </div>

    
    <!-- Include Bootstrap JS (Optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
